[user]
name = Christopher Anderson
email = chris@nullcode.org

[alias]
lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit
ls = log --stat
wip = commit -a -m 'wip' --edit
undo = reset HEAD~1 --mixed
amend = commit --amend

[push]
default = simple

[core]
editor = vim

[color]
ui = true
diff = true

[color "diff"]
meta = blue black bold

[merge]
tool = kdiff3

[http]
	cookiefile = /Users/cja/.gitcookies

[format]
pretty = %C(Yellow)%h %Cblue%ar%x09%Cgreen%aN%Creset%x09%s %C(yellow)%d%Creset

[include]
# Allow overrides of things like [user] at work
path = "~/.gitconfig.local"
